
h2 {
}

#about .contact-info {
	text-align: center;
}
#about .phone, #about .fax, #about .email {
	display: block;
}
#about .address {
	line-height: 100%;
	
}
#about .social-icons img {
	height: 2em;
}

#staff .media-left IMG {
  width: 140px;
}

.recipe img {
	width: 100%;
	cursor: pointer;
}

#recipeModal .recipe-modal-img-container {
	text-align: center;
}
#recipeModal .recipe-modal-img-container img {
	max-width: 100%;
}